@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

$color-primary: #1a1a1a;
$color-secondary: #f1f1f1;
$color-tertiary: #7f7f7f;

$font-primary: 'Bebas Neue', sans-serif;
$font-secondary: 'Poppins', sans-serif;

$size-w-body: 100vw;
$size-h-body: 100vh;
$size-w-card: 20vw;
$size-h-card: 40vh;
$size-w-bg: 100%;
$size-h-bg: 20vw;
$size-w-logo: 5vw;
$size-h-logo: 5vh;